.label {
    -fx-background-color: #e3bb49;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-font: 20px "Old English Text MT";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2.5, 0.5, 2.5, 2.5);
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
}


#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}